html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4
}

::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4
}

::-webkit-scrollbar-thumb {
    background: #dad7d7
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    transition: cursor .3s ease-in-out
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px
}

.menu-item img {
    width: 24px;
    height: 24px;
    min-width: 24px;
    transition: filter .3s ease-in-out
}

.menu-item:hover img {
    filter: invert(68%) sepia(67%) saturate(247%) hue-rotate(75deg) brightness(102%) contrast(102%)
}

#home {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto
}

.about-feature-section,
.faq-item,
.faq-title {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .8s cubic-bezier(.4, 0, .2, 1), transform .8s cubic-bezier(.4, 0, .2, 1)
}

.about-visible,
.faq-title-visible {
    opacity: 1;
    transform: translateY(0)
}

.about-hidden,
.faq-hidden {
    opacity: 0;
    transform: translateY(-20px)
}

.swiper-wrapper {
    transition-timing-function: linear !important
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center
}

.faq-visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--order) * 0.1s)
}

.faq-title-hidden {
    opacity: 0;
    transform: translateY(-10px)
}